<div class="stupid">
<h1>Stupid Coaching</h1>
</div>
<div class="hey border-start border-5">
<%= @message %>
<p>-You</p>
</div>
<div class="style border-start border-5">
<%= @answer %>
<p>-Your coach</p>
</div>
