<div class="stupid">
<h1>Stupid Coaching</h1>
</div>
<div class="ask">
<p>Ask your coach anything:</p>
</div>

<div class="input">
  <form action="/answer" data-turbo="false" class="row g-3 center">
    <div class="col-auto input-field">
      <input type="text" name="question" class="form-control">
    </div>
    <div class="col-auto submit-btn">
      <input type="submit" class="btn btn-primary" value="Ask!">
    </div>
  </form>
</div>
